$charcoal: #323232;
$dark-charcoal: #201f1f;

$white: #FAFAFA;
$primary: #2b6adf;
$secondary: #c8d644;

$light-bg: $white;
$dark-bg: #1f1f1f;

$fcolor-dark: rgba(216, 219, 219, 1) !important;
$fcolor-light: hsla(0, 7%, 12%, 1);

$border-r: 4px;
