@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,400,700&display=swap');
@import './helpers/_atomic-classes';
@import 'reset-css';

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

.title {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
}
