@import '../base/_variables';
@import '../mixins/_mixins';

.app-main-wrapper {
  width: 100%;
  max-height: 100vh;


  &.light {
    background: $light-bg;
    color:  $fcolor-light;
    a {
      color: $fcolor-light;
    }

  }
  &.dark {
    color: $fcolor-dark;
    background: $dark-bg;
    a {
      color: $fcolor-dark;
    }
  }
}

.btn-theme-changer-wrapper {
  @include flex($justify-content: flex-end);
  padding: 0 20px;
  .el-button {
    display: none !important;
  }
}

