/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
.el-tag {
  background-color: #e9f5fa;
  border-color: #d3ebf5;
  color: #239bcf;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #239BCF;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap; }
  .el-tag.is-hit {
    border-color: #239BCF; }
  .el-tag .el-tag__close {
    color: #239bcf; }
    .el-tag .el-tag__close:hover {
      color: #FFFFFF;
      background-color: #239bcf; }
  .el-tag.el-tag--info {
    background-color: #f9f9fa;
    border-color: #f2f3f4;
    color: #bfc2c8; }
    .el-tag.el-tag--info.is-hit {
      border-color: #BFC2C8; }
    .el-tag.el-tag--info .el-tag__close {
      color: #bfc2c8; }
      .el-tag.el-tag--info .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #bfc2c8; }
  .el-tag.el-tag--success {
    background-color: #f2faee;
    border-color: #e5f4dd;
    color: #7bc855; }
    .el-tag.el-tag--success.is-hit {
      border-color: #7BC855; }
    .el-tag.el-tag--success .el-tag__close {
      color: #7bc855; }
      .el-tag.el-tag--success .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #7bc855; }
  .el-tag.el-tag--warning {
    background-color: #fdf9ea;
    border-color: #fbf3d6;
    color: #eac130; }
    .el-tag.el-tag--warning.is-hit {
      border-color: #EAC130; }
    .el-tag.el-tag--warning .el-tag__close {
      color: #eac130; }
      .el-tag.el-tag--warning .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #eac130; }
  .el-tag.el-tag--danger {
    background-color: #fcebeb;
    border-color: #f9d6d6;
    color: #e33232; }
    .el-tag.el-tag--danger.is-hit {
      border-color: #E33232; }
    .el-tag.el-tag--danger .el-tag__close {
      color: #e33232; }
      .el-tag.el-tag--danger .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #e33232; }
  .el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px; }
    .el-tag .el-icon-close::before {
      display: block; }
  .el-tag--dark {
    background-color: #239bcf;
    border-color: #239bcf;
    color: white; }
    .el-tag--dark.is-hit {
      border-color: #239BCF; }
    .el-tag--dark .el-tag__close {
      color: white; }
      .el-tag--dark .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #4fafd9; }
    .el-tag--dark.el-tag--info {
      background-color: #bfc2c8;
      border-color: #bfc2c8;
      color: white; }
      .el-tag--dark.el-tag--info.is-hit {
        border-color: #BFC2C8; }
      .el-tag--dark.el-tag--info .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #ccced3; }
    .el-tag--dark.el-tag--success {
      background-color: #7bc855;
      border-color: #7bc855;
      color: white; }
      .el-tag--dark.el-tag--success.is-hit {
        border-color: #7BC855; }
      .el-tag--dark.el-tag--success .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #95d377; }
    .el-tag--dark.el-tag--warning {
      background-color: #eac130;
      border-color: #eac130;
      color: white; }
      .el-tag--dark.el-tag--warning.is-hit {
        border-color: #EAC130; }
      .el-tag--dark.el-tag--warning .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #eecd59; }
    .el-tag--dark.el-tag--danger {
      background-color: #e33232;
      border-color: #e33232;
      color: white; }
      .el-tag--dark.el-tag--danger.is-hit {
        border-color: #E33232; }
      .el-tag--dark.el-tag--danger .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #e95b5b; }
  .el-tag--plain {
    background-color: white;
    border-color: #a7d7ec;
    color: #239bcf; }
    .el-tag--plain.is-hit {
      border-color: #239BCF; }
    .el-tag--plain .el-tag__close {
      color: #239bcf; }
      .el-tag--plain .el-tag__close:hover {
        color: #FFFFFF;
        background-color: #239bcf; }
    .el-tag--plain.el-tag--info {
      background-color: white;
      border-color: #e5e7e9;
      color: #bfc2c8; }
      .el-tag--plain.el-tag--info.is-hit {
        border-color: #BFC2C8; }
      .el-tag--plain.el-tag--info .el-tag__close {
        color: #bfc2c8; }
        .el-tag--plain.el-tag--info .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #bfc2c8; }
    .el-tag--plain.el-tag--success {
      background-color: white;
      border-color: #cae9bb;
      color: #7bc855; }
      .el-tag--plain.el-tag--success.is-hit {
        border-color: #7BC855; }
      .el-tag--plain.el-tag--success .el-tag__close {
        color: #7bc855; }
        .el-tag--plain.el-tag--success .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #7bc855; }
    .el-tag--plain.el-tag--warning {
      background-color: white;
      border-color: #f7e6ac;
      color: #eac130; }
      .el-tag--plain.el-tag--warning.is-hit {
        border-color: #EAC130; }
      .el-tag--plain.el-tag--warning .el-tag__close {
        color: #eac130; }
        .el-tag--plain.el-tag--warning .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #eac130; }
    .el-tag--plain.el-tag--danger {
      background-color: white;
      border-color: #f4adad;
      color: #e33232; }
      .el-tag--plain.el-tag--danger.is-hit {
        border-color: #E33232; }
      .el-tag--plain.el-tag--danger .el-tag__close {
        color: #e33232; }
        .el-tag--plain.el-tag--danger .el-tag__close:hover {
          color: #FFFFFF;
          background-color: #e33232; }
  .el-tag--medium {
    height: 28px;
    line-height: 26px; }
    .el-tag--medium .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px; }
    .el-tag--small .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px; }
    .el-tag--mini .el-icon-close {
      margin-left: -3px;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
