@import '../base/_variables';

.view-wrapper {
  padding: 1.2rem;
  margin-top: 2rem;
  .el-card {
    width: 22rem;
    height: 12rem;
    .icon {
      font-size: 12px
    }
    .el-tag {
      margin: .2rem;
      word-break: break-all;
    }
  }
}

.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.el-col {
  margin-bottom: 1rem;
}

.bg-purple-dark {
  background: #99a9bf;
}

.view-wrapper {
  h1.title {
    height: 4rem;
  }
  h4.title {
    margin-bottom: 1rem;
  }
}

.grid-content {
  .el-tag {
    margin: .2rem 0;
  }
}
